@model AdminMNS.WebApp.Models.ViewModel.Account.ForgetPasswordViewModel

<h1>Mot de passe oublié</h1>

<form asp-controller="Account" asp-action="ForgetPassword" method="post">
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary form-control">Valider</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}