<div class="text-center">
    <h1 class="display-4">Compte verrouillé</h1>
    <p>
        Suite à un trop grand nombre de connexions échouées, votre compte a été temporairement bloqué. Merci de réessayer de vous authentifier ultérieurement.
    </p>
</div>