<div class="text-center">
    <h1 class="display-4">Mot de passe réinitialisé</h1>
    <p>
        Votre mot de passe a bien été réinitialisé.
        <a asp-action="Login" asp-controller="Account">
            Cliquez ici pour vous connecter
        </a>
    </p>
</div>